
.home-link{
    -ms-touch-action:manipulation;
    touch-action:manipulation;
    text-decoration:none;
    outline:none
}
.home-link:link,
.home-link:visited,
.home-link_pseudo_yes{
    cursor:pointer
}
.content__title{
    font-size:26px;
    font-weight:400;
    line-height:1;
    margin:29px 0 10px;
}
.home-link_blue_yes,
.home-link_blue_yes:visited{
    color:#0054b9;
}
.content__punto{
    margin-top:30px;
    margin-right:10px;
}
@media (max-width:359px){
    .banner{text-align:center}
    .banner img{width:284px;height:auto}
}
.foot{
    font-size:85%;
    color:#999;
    white-space:nowrap;
    position:absolute;
    left:18px;
    bottom:25px;
}
.foot__link{margin-right:20px}
.foot__link:link,
.foot__link:visited{
    white-space:nowrap;
    color:#999;
}
@media screen and (min-width:1215px){
    .foot{left:166px}
}
.layout{
    position:relative;
    min-height:500px;
    padding:49px 10px 58px 16px;
}
@media (max-width:680px){
    .layout{padding:11px 11px 58px}
}
.layout__content{
    max-width:700px;
    margin-right:48px;
    line-height:1.45em;
}
@media (max-width:500px){
    .layout__content{
        margin-right:16px;
    }
}
.layout__line_banner{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    max-width:1050px;
}
.layout__cell{
    display:inline-block;
    vertical-align:top;
    white-space:normal;
}
.layout__banner{
    margin-top:34px;
    margin-right:6px;
}
@media (max-width:680px){
    .layout__banner{
        min-width:298px;
        margin:20px auto 50px;
    }
    .layout{
        margin-right:auto;
        margin-left:auto;
    }
}
@media screen and (min-width:1215px){
    .layout{padding-left:166px}
}
body{margin:0}
.shop {
    margin-top: 100px;
}
