
.App {}

.App_AppRouter {
    min-height: calc(100vh - var(--main-header-height) - var(--main-footer-height));
    /* height: 100vh; */
}

.globalStylePage {
    width:100vw;
    height: calc(100vh - var(--main-header-height) - var(--main-footer-height));
    background-color: lightgrey;}

.globalStylePage_title {
    padding: 20px;
}
